<div class="blocktext">
  <% if @posts.any? %>
  <h3>Here are your current blog posts:</h3>
    <% @posts.each do |post| %>
      <ul>
      <li class="align"><strong><%= link_to post.title, post_path(post) %></strong> -<%= post.created_at.strftime("%b %d, %Y") %></li>
          <ul>
             <li class="align"><%= truncate(post.body, :length => 80) %></li>
          </ul>  
      </ul>
    <% end %>
  <% end %>


  <br />

  <%= link_to "Add Post", new_post_path, :class => "btn btn-primary" %>
</div>