h1, 
h2,  {
  font-family: 'Righteous', sans-serif;
  text-align: center;
  color: #556270;
}

h3, 
h4, 
h5,
h6,
 {
  font-family: 'Righteous', sans-serif;
  color: #556270;
}

li.align {
  margin-left: auto;
  margin-right: auto;
}

li {
  font-size: 1.25em;
  color: #556270;
}

p, 
blockquote {
  font-size: 1.25em;
}
.col-md-6{
  border: 6px;
  border-color: #000;
}


li {
  list-style: none;
}

.success {
  background-color: #6B8E23;
  display: block;
  color: white;
}

.fail {
  background-color: #FF6347;
  display: block;
  color: white;
}

.right-align {
  text-align: right
}

body { 
  background: url(../images/sky.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

