h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 300%;
  text-align: center;
  color: #DB6C27;
}


h2,
h3 {
  font-family: 'Righteous', sans-serif;
}

body{
  font-family: 'Roboto Slab', serif;}

.col-md-6{
  border: 6px;
  border-color: #000;
}


li {
  list-style: none;
}

.success {
  background-color: #6B8E23;
  display: block;
  color: white;
}

.fail {
  background-color: #FF6347;
  display: block;
  color: white;
}


